@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in PrismaNews</h1>
    <p>Decostruisci, analizza, comprendi: una nuova lente sulla realtà</p>
    
    <div class="mt-5">
        <a href="/Account/Login" class="btn btn-primary btn-lg me-3">
            <i class="bi bi-box-arrow-in-right"></i> Accedi
        </a>
        <a href="/Account/Register" class="btn btn-outline-primary btn-lg">
            <i class="bi bi-person-plus"></i> Registrati
        </a>
    </div>
</div>
